.input-search {
  padding: 1rem;
  margin: 1rem 0;
  margin-top: 1rem;
  border-radius: 10px;
  background: var(--vtl-background);
  border: 2px solid var(--vtl-background);
  color: var(--color-text);
  width: calc(100% - 190px);
}

.inputs-actions {
  display: flex;
  gap: 20px;
}
.checkbox-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  height: 80px;
  label input {
    margin-right: 1rem;
  }
}

.not-found {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}
