.modal {
  background: var(--vtl-background);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 11;
  backdrop-filter: blur(20px);
  opacity: 0;
  pointer-events: none;
  transition: 0.5s all;

  &.active {
    opacity: 1;
    pointer-events: all;
  }
}

.modal-content {
  background: var(--vtl-background);
  overflow: auto;
  border-radius: 20px;
  margin: 3rem;
  padding: 2rem;
  height: calc(100% - 5rem);

  h2:first-of-type {
    margin-top: 0;
  }

  code:last-of-type {
    margin-bottom: 0;
  }

  .code-wrapper,
  .code-wrapper .hljs {
    background-color: #fff;
    color: #000;
  }
}

.darkmode {
  .modal-content .code-wrapper,
  .modal-content .code-wrapper .hljs {
    background-color: #000;
    color: #fff;
  }
}

.modal-button {
  position: absolute;
  top: 2.5rem;
  right: 2.5rem;
  z-index: 11;
  cursor: pointer;
  background-color: #fff;
  border: 0;
  border-radius: 100px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(2);
}
