<div class="modal" [class.active]="active">
  <button class="modal-button" (click)="onCloseModal()">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
      <path fill="#f00"
        d="M12 2C6.49 2 2 6.49 2 12s4.49 10 10 10 10-4.49 10-10S17.51 2 12 2Zm3.36 12.3c.29.29.29.77 0 1.06-.15.15-.34.22-.53.22s-.38-.07-.53-.22l-2.3-2.3-2.3 2.3c-.15.15-.34.22-.53.22s-.38-.07-.53-.22a.754.754 0 0 1 0-1.06l2.3-2.3-2.3-2.3a.754.754 0 0 1 0-1.06c.29-.29.77-.29 1.06 0l2.3 2.3 2.3-2.3c.29-.29.77-.29 1.06 0 .29.29.29.77 0 1.06l-2.3 2.3 2.3 2.3Z" />
    </svg>
  </button>
  <div class="modal-content">
    <h2>Install</h2>
    <code class="code-wrapper">npm install angular-techs-logos</code>
    <h2>Usage</h2>
    <code class="code-wrapper">
      {{ codeExample }}
    </code>
    <h2>Hidden label</h2>
    <code class="code-wrapper">
      &lt;angular-techs-logos name="angular" [hiddenLabel]="true" /&gt;
    </code>
    <h2>List of technologies limited</h2>
    <code class="code-wrapper">
      &lt;angular-techs-logos [list]="['vue', 'JavaScript', 'react', 'angular']" /&gt;
    </code>
    <h2>List of technologies full with hiddenLogos</h2>
    <code class="code-wrapper">
      &lt;angular-techs-logos [hiddenLogos]="['vue', 'javascript', 'react', 'angular', 'android']" /&gt;
    </code>
  </div>
</div>
