.footer {
  padding: 3em 0;
  a {
    align-items: center;
    color: var(--text);
    display: flex;
    font-size: 1.5em;
    justify-content: center;
    text-decoration: none;
    flex-direction: column;
    width: max-content;
    margin: 0 auto;
    @media (max-width: 640px) {
      font-size: 1em;
    }
  }
  svg {
    margin: .5em;
  }
}
