.btn-mode {
  background: var(--primary);
  color: #fff;
  border-radius: 50px;
  box-shadow: inset 0 0 0 3px rgba(255,255,255,.2), 0 0 0 5px rgba(0,0,0,.1);
  border: 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 1rem;
  position: fixed;
  top: 0;
  right: 0;
  padding: .6rem;
  z-index: 11;
  &.hiddenLabel svg {
    margin-right: 0;
  }
}
.btn-mode svg {
  margin-right: .5rem;
}
