/* You can add global styles to this file, and also import other style files */

:root {
  --color-text: #000;
  --primary: #dd0031;
  --secondary: #8750c3;
  --main-color: #2c3e50;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

html {
  background: var(--primary);
}

body {
  min-height: 100vh;
  color: var(--color-text);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --vtl-background: rgba(0, 0, 0, .05);
  --vtl-background-tooltip: #444;
  --vtl-shadow-tooltip: rgba(0, 0, 0, .2);
  --vtl-text: #fff;
  --vtl-background-svg: #000;
  background-color: #ffffff;
}

body:before,
body:after {
  content: "";
  display: flex;
  height: 20px;
  background: var(--primary);
  background: linear-gradient(90deg, var(--primary) 50%, var(--secondary) 100%);
  box-shadow: 0 0 0 1px rgba(255,255,255,.6), 0 0 20px rgba(0, 0, 0, 0.4);
}

body.modal-active {
  overflow: hidden;
}

body.darkmode {
  --color-text: #fff;
  --vtl-background: rgba(0, 0, 0, .5);
  --vtl-background-tooltip: #fff;
  --vtl-shadow-tooltip: rgba(0, 0, 0, .2);
  --vtl-text: #000;
  --vtl-background-svg: #fff;
  background-color: #242424;
}

.darkmode-button {
  margin: 2rem 1rem;
  position: fixed;
  top: 0;
  right: 0;
  padding: .6rem !important;
  background: var(--primary) !important;
  z-index: 10;
}

h2 {
  margin: 0 0 1rem;
  font-weight: bold;
}

.content {
  background: var(--vtl-background);
  background: var(--vtl-background-gradient);
  padding: 1rem 1rem;
  margin: 1rem;
  border-radius: 10px;
  border: 1px solid var(--vtl-background);
  box-shadow: 0 0 0 1px rgba(255, 255, 255, .2), 0 10px 20px rgba(0, 0, 0, .1);
}

.code-wrapper {
  color: var(--color-text);
  background: var(--vtl-background);
  padding: 1rem;
  border-radius: 10px;
  display: inline-block;
  margin-bottom: 1rem;
  border: 1px solid rgba(255, 255, 255, .2);
  white-space: break-spaces;
}


.button-modal {
  background: var(--vtl-background-gradient);
  color: var(--color-text);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 1px solid var(--vtl-background);
  padding: .5rem 1rem .5rem .5rem;
  cursor: pointer;
  margin-bottom: 1rem;
  margin-left: 1rem;

  svg {
    margin-right: 1rem;
  }
}

.input-search {
  padding: 1rem;
  margin: 1rem 0;
  margin-top: 0;
  border-radius: 10px;
  background: var(--vtl-background);
  border: 2px solid var(--vtl-background);
  color: var(--color-text);
  width: 100%;
}

.install {
  display: flex;
}

.not-found {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}
